@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/*font-family: "Big Shoulders Display", sans-serif;
font-family: "Lexend Deca", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 95%);
   
}

.main-div{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 60%;
   margin: 10% auto;
}

.item{
    position: relative;
    height: 450px;
    padding: 40px;
}

.sedan-div{
   background-color: hsl(31, 77%, 52%) ;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
}

.suv-div{
    background-color: hsl(184, 100%, 22%) ;
}

.luxury-div{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

h3{
    color: hsl(0, 0%, 95%);
    margin: 20px 0;
    text-transform: uppercase;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}

.btn{
    background-color: hsl(0, 0%, 95%);
    cursor: pointer;
    position: absolute;
    bottom: 35px;
    border: none;
    border-radius: 35px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 17px;
    padding: 15px 25px;
    text-align: center;
    transition: all 0.3s;
}

#btn1{
    color: hsl(31, 77%, 52%);
}
#btn1:hover{
    color: hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
}
#btn2{
    color: hsl(184, 100%, 22%);
}

#btn2:hover{
    color: hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
}

#btn3{
    color: hsl(179, 100%, 13%);
}

#btn3:hover{
    color: hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
}

@media (max-width: 768px) {
    .main-div{
        grid-template-columns: 1fr;
        width: 80%;
        margin: 5% auto;
    }
    .item{
        position: relative;
        height: 400px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 40px;
    }
    .sedan-div{
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 0;
     }
    .luxury-div{
        border-top-right-radius: 0;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
     
}